@for(post of posts.allPost; track $index){
<article
  class="flex my-2 bg-slate-50 transition hover:shadow-xl"
>   
  <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
    <time
      datetime="2022-10-10"
      class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900"
    >
      <span>{{post.user.name}}</span>
      <span class="w-px flex-1 bg-gray-900/10"></span>
      <span>Verse</span>
    </time>
  </div>

  <div class="hidden sm:block sm:basis-56">
    <img
      alt=""
      [src]="posts.imgBaseUrl+post.image"
      class="aspect-square h-full w-full object-cover"
    />
  </div>

  <div class="flex flex-1 flex-col justify-between">
    <div
      class="border-s border-gray-900/10 p-4 sm:!border-l-transparent sm:p-6 "
    >
      <a href="#">
        <h3 class="font-bold uppercase text-gray-900 ">
          {{post.title |slice: 0: 50}}
        </h3>
      </a>

      <p
        class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700"
      >
        {{post.desc |slice: 0: 200}}
      </p>
    </div>

    <div class="sm:flex sm:items-end sm:justify-end">
      <a
        [routerLink]="['/post-detail',post.id]"
        class="block bg-yellow-400 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-yellow-500"
      >
        Read Blog
      </a>
    </div>
  </div>
</article>
}
