
@if(postDetail){
<article class="rounded-xl bg-white p-4 ring ring-indigo-50 sm:p-6 lg:p-8">
  <a class="block mb-2">
    <img
      alt=""
      [src]="post.imgBaseUrl + postDetail.image"
      class="h-64 w-full object-cover sm:h-80 lg:h-96"
    />
  </a>  
  
  <div class="flex items-start sm:gap-8">
      <div>
        <div class="flex justify-between">
          <strong
            class="text-sm rounded border border-indigo-500 bg-indigo-500 px-3 py-1.5 text-[10px] font-medium text-white"
          >
            Creator -  {{postDetail.user.name}} | ( {{postDetail.user.role}} )
          </strong>
        </div>
        
  
        <h3 class="mt-4 text-lg font-semibold tracking-wide sm:text-xl">
          <a class="no-underline"> {{postDetail.title}} </a>
        </h3>
  
        <p class="mt-2 text-base  bg-slate-300 rounded-md px-2 tracking-wide ">
          {{postDetail.desc}}
        </p>
  
        <div class="mt-4 sm:flex sm:items-center sm:gap-2">
          <div class="flex items-center gap-1 bg-yellow-200 rounded-lg px-2 py-1 text-black">
            <p class="text-xs font-medium">Related - {{postDetail.related}}</p>
          </div>
  
          <span class="hidden sm:block" aria-hidden="true">&middot;</span>
  
          <p class="mt-2 text-xs font-medium bg-yellow-200 rounded-lg px-2 py-1 text-black sm:mt-0">
            Covered Topic <a href="#" class="underline hover:text-gray-700"> {{postDetail.topics}}</a>
          </p>
        </div>
      </div>
    </div>
  </article>
  @if(auth.userId === postDetail.userId){
    <a
      [routerLink]="['/edit-post',postDetail.id]"
      class="group relative inline-block text-sm font-medium text-red-600 focus:outline-none focus:ring active:text-red-500"
    >
      <span class="absolute inset-0 border border-current"></span>
      <span
        class="block border border-current bg-white px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
      >
        Edit Post
      </span>
    </a>
  }
}@else if(error){
  <section class="bg-[#d90000] text-white">
    <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-96 lg:items-center">
      <div class="mx-auto max-w-3xl text-center">
        <h1
          class="bg-gradient-to-r from-green-300 via-white to-yellow-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
        >
          The blog you are looking for is unavailable or not found.  
        </h1>
        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a
            class="block w-full rounded border border-white bg-white px-12 py-3 text-sm font-medium text-red-600 hover:text-white hover:bg-transparent focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
          >
            Home
          </a>
        </div>
      </div>

      
    </div>
  </section>
}@else {
  <div>Loading...</div>
}