<app-header/>
<section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
          <img
            alt=""
            src="assets/3.png"
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>
  
        <div class="lg:py-24">
          <h2 class="text-3xl font-bold sm:text-4xl">Grow your Knowledge</h2>
  
          <p class="mt-4 text-gray-600">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut qui hic atque tenetur quis
            eius quos ea neque sunt, accusantium soluta minus veniam tempora deserunt? Molestiae eius
            quidem quam repellat.
          </p>
  
          <a
            [routerLink]="['/blog']"
            class="mt-8 inline-block rounded bg-red-500 px-12 py-3 text-sm font-medium text-white transition hover:bg-red-600 focus:outline-none focus:ring focus:ring-yellow-400"
          >
            Get Started Today
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
      <div class="mx-auto max-w-3xl text-center">
        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">Trusted by youth</h2>
  
        <p class="mt-4 text-gray-500 sm:text-xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolores laborum labore
          provident impedit esse recusandae facere libero harum sequi.
        </p>
      </div>
  
      <div class="mt-8 sm:mt-12">
        <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
          <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Total Readers</dt>
  
            <dd class="text-4xl font-extrabold text-red-600 md:text-5xl">2.8m</dd>
          </div>
  
          <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Total Articles</dt>
  
            <dd class="text-4xl font-extrabold text-red-600 md:text-5xl">1m</dd>
          </div>
  
          <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Domain Diversity</dt>
  
            <dd class="text-4xl font-extrabold text-red-600 md:text-5xl">52</dd>
          </div>
        </dl>
      </div>
    </div>
  </section>


  <section class="bg-[#d90000] text-white">
    <div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="max-w-xl">
        <h2 class="text-3xl font-bold sm:text-4xl">What makes us special</h2>
  
        <p class="mt-4 text-gray-300">
            Youth Verse empowers young voices through inspiring stories, diverse perspectives, community engagement, expert insights, creative expression, and exclusive opportunities, fostering growth and creativity.
        </p>
      </div>
  
      <div class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
        <div class="flex items-start gap-4">
          <span class="shrink-0 rounded-lg bg-red-700 p-4">
            <svg
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>
  
          <div>
            <h2 class="text-lg font-bold">Unleash Your Potential</h2>
  
            <p class="mt-1 text-sm text-gray-300">
                Youth Verse brings you inspiring stories of young achievers and dreamers. Dive into narratives that motivate you to chase your dreams and realize your potential.
            </p>
          </div>
        </div>
  
        <div class="flex items-start gap-4">
          <span class="shrink-0 rounded-lg bg-red-700 p-4">
            <svg
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>
  
          <div>
            <h2 class="text-lg font-bold">A Melting Pot of Ideas</h2>
  
            <p class="mt-1 text-sm text-gray-300">
                Our platform features a diverse range of voices from different backgrounds and perspectives. Experience the richness of varied viewpoints and learn from the stories of others.
            </p>
          </div>
        </div>
  
        <div class="flex items-start gap-4">
          <span class="shrink-0 rounded-lg bg-red-700 p-4">
            <svg
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>
  
          <div>
            <h2 class="text-lg font-bold">Your Voice Matters</h2>
  
            <p class="mt-1 text-sm text-gray-300">
                At Youth Verse, we believe in the power of community. Engage with like-minded individuals, participate in discussions, and share your own stories to inspire and be inspired.
            </p>
          </div>
        </div>
  
        <div class="flex items-start gap-4">
          <span class="shrink-0 rounded-lg bg-red-700 p-4">
            <svg
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>
  
          <div>
            <h2 class="text-lg font-bold">Wisdom from the Wise</h2>
  
            <p class="mt-1 text-sm text-gray-300">
                Gain valuable insights from experts in various fields. Our articles are backed by knowledge and experience, providing you with the tools you need to succeed.
            </p>
          </div>
        </div>
  
        <div class="flex items-start gap-4">
          <span class="shrink-0 rounded-lg bg-red-700 p-4">
            <svg
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>
  
          <div>
            <h2 class="text-lg font-bold">Unleash Your Creativity</h2>
  
            <p class="mt-1 text-sm text-gray-300">
                Youth Verse is a haven for creative expression. Whether it's writing, art, or multimedia, we provide a platform for you to showcase your talents and express yourself freely.
            </p>
          </div>
        </div>
  
        <div class="flex items-start gap-4">
          <span class="shrink-0 rounded-lg bg-red-700 p-4">
            <svg
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>
  
          <div>
            <h2 class="text-lg font-bold">Unlock Your Future</h2>
  
            <p class="mt-1 text-sm text-gray-300">
                Stay ahead with exclusive opportunities for growth and learning. From scholarships to internships and workshops, Youth Verse connects you with resources to advance your journey.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div class="bg-[#d90000] p-8 md:p-12 lg:px-16 lg:py-24">
          <div class="mx-auto max-w-xl text-center">
            <h2 class="text-2xl font-bold text-white md:text-3xl">
              Join youth verse
            </h2>
  
            <p class="hidden text-white/90 sm:mt-4 sm:block">
                Join Youth Verse to share your knowledge with the world! Our platform empowers young voices, providing a dynamic space for your stories, insights, and creativity. Connect with like-minded individuals, gain exposure, and make a difference. Your voice matters—contribute today and inspire others with your unique perspective.
            </p>
  
            <div class="mt-4 md:mt-8">
              <a
                [routerLink]="['/signup']"
                class="inline-block rounded border border-white bg-white px-12 py-3 text-sm font-medium text-red-500 transition hover:bg-transparent hover:text-white focus:outline-none focus:ring focus:ring-yellow-400"
              >
                Get Started Today
              </a>
            </div>
          </div>
        </div>
  
        <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
          <img
            alt=""
            src="https://images.unsplash.com/photo-1621274790572-7c32596bc67f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80"
            class="h-40 w-full object-cover sm:h-56 md:h-full"
          />
  
          <img
            alt=""
            src="https://images.unsplash.com/photo-1567168544813-cc03465b4fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
            class="h-40 w-full object-cover sm:h-56 md:h-full"
          />
        </div>
      </div>
    </div>
  </section>